body {
  background-color: #eee;
  font-family: sans-serif;
}

.card {
  background-color: white;
  padding: 8px;
}

.title {
  background-color: lightcyan;
  font-size: 16px;
  margin-bottom: 8px;
}

.content {
  background-color: lightcyan;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background-color: lightcyan;
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 24 px;
}